@model IEnumerable<Sashiel_ST10028058_PROG6212_Part2.Areas.Identity.Pages.Account.UserViewModel>

@{
    ViewData["Title"] = "Registered Accounts";
}

<h2>Registered Accounts</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>